{% extends 'home.html' %}

{% block contain %}

    <div class="card card-blue">
        <div class="card-body">
            
        </div>
    </div>

    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>

{% endblock %}