{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'lib/adminlte/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte/css/adminlte.min.css' %}">

    <script src="{%static 'lib/bootstrap4/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{%static 'lib/bootstrap4/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/4.5.2/css/bootstrap.min.css' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="{% static 'lib/bootstrap4/4.5.2/js/e894090d5a.js' %}" crossorigin="anonymous"></script>

    <title>Inceptia - Python Dev Challenge</title>
</head>
<body>
    <div class="content">
        <div class="container-fluid">

            <H1>Inceptia - Python Dev Challenge</H1>
            <H3>Python Dev Challenge</H3>

            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
                <div class="card-body">

                    {% block contain %}

                    {% endblock %}

                </div>
            </div>
        </div>
    </div>

</body>
</html>